{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Dodaj do koszyka</button>
				
				<button data-product="{{product.id}}" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">Info</button>

				<h4 style="display: inline-block; float: right"><strong>Zł {{product.price}}</strong></h4>

			</div>

			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Więcej informacji o produkcie</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<h6><strong>{{product.name}}</strong></h6>
						<img style="float: left; height: 300px; width: auto;" src="{{product.imageURL}}">
						<br><h6><strong>Opakowanie: </strong></h6>
						<h6>{{product.volume}}</h6>
						<br>
						<h6><strong>Produkt dla dzieci: </strong></h6>
						<h6>{{product.kids}}</h6>
						<br>
						<h6 style="vertical-align: top"><strong>Info: </strong></h6>
						<h6>{{product.info}}</h6>
						<h4 style="display: inline-block; float: right"><strong>Zł {{product.price}}</strong></h4>

					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
				</div>
			</div>
		</div>
		{% endfor %}


	</div>

{% endblock content %}
